body {
	background: rose;
	margin-bottom: 25px;
	margin-top: 10px;
	padding:8px;
	display: block;
}
/* header */
.header img {
	height: 35px;
	width: 35px;
}
.fheader img {
	height: 35px;
	width: 35px;
}
.img-align {
	display: inline-block;
}

.header {
	background: #AA7739;
	border: 1px solid #FFD9AA;
	color: #552F00;
	font-weight: bold;
	margin: auto;
	max-height: 30px;
	max-width: 400px;
	padding: 40px;
	position: relative;
}
.fheader {
	background: #AA7739;
	border: 1px solid #FFD9AA;
	color: #552F00;
	font-weight: bold;
	margin: auto;
	max-height: 25px;
	max-width: 400px;
	padding: 40px;
	position: relative;
}

.header h1 {
	color: #FFD9AA;
	letter-spacing: 6px;
	padding-left: 4px;
}
/* Menu or Dashboard header */
.headers img {	
  width: 35px;
  height: 35px;  

}

.headers  {
	background: #AA7739;
	color: #552F00;
	max-width: 100%;
	max-height: 30px;
	padding: 40px;
	font-weight: bold;
	margin: auto;
	position: relative;
	border: 1px solid #FFD9AA;	
}

.headers h1 {
	color: #FFD9AA;
	margin: auto;

}

/* Main login Area */
.containerlog {
	background: #AA7739;
	border-width: 0px 1px 0px 1px;
	border-style: solid;
	color: #FFD9AA;
	font-weight: bold;
	margin: auto;
	max-width: 400px;
	max-height: 190px;
	padding: 40px;
}
.containersignup {
	background: #AA7739;
	border-width: 0px 1px 0px 1px;
	border-style: solid;
	color: #FFD9AA;
	font-weight: bold;
	margin: auto;
	max-width: 400px;
	max-height: 350px;
	padding: 40px;
}
/* Input fields */
input[type=text], input[type=password] {
	border: 1px solid #805015;
	margin: 8px;
	padding: 8px;
	width: 80%;
}

input[type=submit] {
	background: #552F00;
	border: 1px solid #805015;
	color: #FFD9AA;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	margin-top: 25px;
	padding: 15px;
	min-width: 25%;
	border: 1px solid #805015;
}

/* Main menu Dashboard */

.main-menu {
    width: 185px;
}

.main-menu a {
    background-color: #552F00;
    color: #FFD9AA;
    display: block;
    height: 16px;
    padding: 12px;
    text-decoration: none;
    -webkit-appearance: button;
    -moz-appearance: button;

}

.main-menu a:hover {
    background-color: purple;
}

.main-menu a.active {
    color: green;
    font-weight: bold;
}

.containerfooter {
	color: #FFD9AA;
	background: #AA7739;
	margin-top: 20px;
	margin: auto;
	max-width: 400px;
	padding: 40px;
	text-align: center; 	
}
.fcontainerfooter {
	color: #FFD9AA;
	background: #AA7739;
	margin-top: 20px;
	margin: auto;
	max-width: 400px;
	padding: 40px;
	text-align: right; 	
}

.attcreation {
	margin-bottom: 0px;
	padding-left: 240px;
	position: relative;	
}

.temp-footer {
	color: #FFD9AA;
	background: #AA7739;
	border-width: 1px;	
	font-size: 12px;
	font-weight: bold;
	margin: auto;
	max-height: 1px;
	min-width: 100%;
	padding: 30px;
	position: absolute;
	text-align: center;
	/*bottom: 0;*/
	margin-bottom: 0; 	
}



Span {
	font-size: 15px;
}
/* button login page */
a.button {
	appearance: button;
    border: 1px solid #805015;        
    background: #552F00;	
	color: #FFD9AA;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	margin-top: 25px;	
	min-width: 25%;
	padding: 15px;
	text-decoration: none;
    -webkit-appearance: button;
    -moz-appearance: button;   
}
/* Button for main area */
a.button-main {
	appearance: button;
    border: 1px solid #805015;        
    background: #552F00;	
	color: #FFD9AA;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	margin-top: 25px;	
	min-width: 20%;
	padding: 15px;
	text-decoration: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    margin-bottom: 8px;   
}

/* Table Area */

/** {
  box-sizing: border-box;
}*/


/* Search bar */

#menuInput {
	background: copper;
	background-position: 10px 10px;
	border: 1px solid #ddd;
	font-size: 16px;
	left: 205px;
	margin-bottom: 12px;
	padding: 12px 20px 12px 40px;
	position: absolute;
	top: 120px;
	width: 50%;
}
/* Report and data area */
#myDataTable {
	border-collapse: collapse;
	border: 1px solid #805015;
	font-size: 11px;
	left: 205px;
	position: absolute;
	top: 170px;
	width: 82%;
}

#myDataTable th, #myTable td {
	text-align: left;
	padding: 12px;
}

#myDataTable tr {
	border-bottom: 1px solid #805015;
}

#myDataTable tr.header, #myDataTable tr:hover {
	/*background-color: #D4A76A;*/
	background-color: #FFDBAA; 
}

/* Claculator pad */
.calc {
	background: green;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid
}
.calcT {
	background: #552F00;
	border-style: none;	
}


/* Make page responsive */
@media screen and (max-width: 600px) {
	input[type=submit]{
		width: 100%;
	}
	input[type=password]{
		width: 100%;
	}
	input[type=text]{
		width: 100%;
	}
	
	#myDataTable {	
	width: 100%;
    }

    #myDataTable th, #myTable td {
	width: 100%;	
    }
    #myDataTable tr {
	width: 100%;
    }

    #myDataTable tr.header, #myDataTable tr:hover {
	width: 100%; 
    }   


}
